
.pokeCard {
    transition: transform 0.2s ease;
    border: 7px solid rgb(207, 179, 17);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 200px;
    box-shadow: 0 8px 12px -4px rgb(0, 0, 0)
}

.pokeCard p {
    font-weight: 800;
    font-size: 1.1rem;
}

.pokeCard:hover {
    transform: scale(1.1);
    z-index: 10;
    cursor: pointer;
}

.topRow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.image {
    display: flex;
    justify-content: center;
}

img {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(235, 230, 230);
    width: 150px;
    height: auto;
    margin: 10px;
    box-shadow: inset 2px 2px 5px rgba(20, 20, 20, 0.2),
    inset -2px -2px 5px rgba(39, 38, 38, 0.7);
}