
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.scores {
    border: 5px solid rgb(13, 13, 147);
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: -20px;
    padding: 10px;
    background-color: gray;
    color: rgb(255, 255, 0);
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.2),
    inset -2px -2px 5px rgba(39, 38, 38, 0.7);
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    /* border: 1px solid black; */
    padding: 10px;
}

.gameOver {
    border: 5px solid rgb(23, 23, 112);
    border-radius: 15px;
    text-align: center;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 183, 183);
}

.gameOver p {
    font-size: 1.2rem;
    font-weight: 800;
    color: rgb(255, 255, 42);
}

.gameOver button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0 5px #898989;
}

.gameOver button:hover {
    cursor: pointer;
    background-color: rgb(211, 209, 209);
}

.gameOver button:active {
    transform: translateY(5px);
    box-shadow: 0 2px #3e3e3e;
}